<div class="chat-window">
  <div class="topo">
    <div class="up">
      <div class="som"></div>
      <div class="camera">
        <div class="eye"></div>
      </div>
    </div>
    <div class="down">
        <img src="../../assets/logo.png" alt="imgLogo">
    </div>
  </div>
  <div class="message-list" #scrollElement>
      <ul id="message-list">
        <app-chat-item *ngFor="let item of messageList" [text]="item.message" [time]="item.time" [author]="item.author"></app-chat-item>
      </ul>
  </div>
  <div class="message-panel">
      <textarea #myText id="message" rows="3" class="border-styleBet" (keyup)="getKeyPress($event)" maxlength="500" [(ngModel)]="message"></textarea>
      <button id="btn-send" class="border-styleBet" (click)="sendMessage()"> Enviar </button>
      <div id="counter">{{ message.length }}/500</div>
  </div>
</div>